.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 1440px
}
.style46 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 2.083vh;
  align-items: stretch;
  flex-direction: column
}
.desktop1container18row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style53 {
  width: 100%
}
.desktop1container18row0column0 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center
}
.style47 {
  font-family: Helvetica,serif;
  font-size: .8125em;
  font-weight: 700;
  margin-left: 20px;
  height: 30%
}
.desktop1container18row0column0row0 {
  display: flex;
  width: 97.222%;
  height: 60%;
  align-items: center;
  align-self: center
}
.style48,
.style49,
.style50,
.style51 {
  font-family: Helvetica,serif;
  font-size: .6875em;
  font-weight: 700;
  height: 40%
}
.style52 {
  width: 2.142%;
  height: 100%
}
.desktop1row1,
.style0 {
  display: flex;
  align-items: stretch
}
.desktop1row1 {
  margin-left: 0;
  margin-top: 0;
  height: 25vh;
  width: 100%
}
.style0 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqjnq.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  width: 58.333%;
  flex-direction: column
}
.desktop1row1image0row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style10 {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: column
}
.style11 {
  height: 100%
}
.desktop1row1image0row0column0 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center
}
.desktop1row1image0row0column0row0,
.style9 {
  margin-left: 140px;
  width: 71.428%;
  height: 41.166%
}
.desktop1row1image0row0column0row0 {
  display: flex
}
.style8 {
  width: 100%;
  height: 24.291%
}
.desktop1row1image0row0column0row0column0 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column
}
.style6 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 42px;
  margin-top: 0;
  width: 100%
}
.style1,
.style2,
.style6 {
  font-family: Helvetica,serif
}
.style2 {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 34px;
  margin-top: 80px;
  width: 100%
}
.style1 {
  font-size: 1em;
  line-height: 26px;
  margin-top: 10px;
  width: 93.333%
}
.style3 {
  display: flex;
  margin-top: 30px;
  width: 22.333%;
  height: 16.194%;
  align-items: stretch;
  flex-direction: column;
  border-radius: 6px
}
.style5 {
  height: 100%
}
.style93 {
  display: flex;
  width: 41.666%;
  align-items: stretch;
  flex-direction: column
}
.desktop1row1container41row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style118 {
  width: 100%
}
.desktop1row1container41row0column0 {
  display: flex;
  width: 100%;
  flex-direction: column
}
.desktop1row1container41row0column0row0,
.style100 {
  margin-left: 99.99951171875px;
  margin-top: 100px;
  width: 63.333%;
  height: 10%
}
.desktop1row1container41row0column0row0 {
  display: flex;
  margin-top: 0
}
.style94 {
  font-family: Helvetica,serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 20px;
  width: 87.105%
}
.style97 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqtg3.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: flex;
  width: 1.578%;
  height: 16.666%;
  align-items: stretch;
  flex-direction: column
}
.style98 {
  opacity: .30000001192092896;
  height: 100%
}
.style95 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqt4r.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 1.578%;
  height: 16.666%;
  align-items: stretch;
  flex-direction: column
}
.style96 {
  height: 100%
}
.desktop1row1container41row0column0row1 {
  display: flex;
  margin-left: 100px;
  margin-top: 40px;
  width: 63.333%;
  height: 49.833%;
  align-items: stretch
}
.style117 {
  display: flex;
  width: 100%;
  flex-direction: column
}
.desktop1row1container41row0column0row1container51column0 {
  display: flex;
  width: 110.526%;
  height: 99.665%;
  align-items: stretch;
  flex-direction: column
}
.style108 {
  margin-top: 0;
  height: 43.288%
}
.desktop1row1container41row0column0row1container51column0row0 {
  display: flex;
  margin-top: 0;
  height: 43.288%
}
.style101,
.style102 {
  font-family: Helvetica,serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 20px;
  width: 100%
}
.desktop1row1container41row0column0row1container51column0row1 {
  display: flex;
  margin-top: 40px;
  height: 43.288%;
  align-items: stretch
}
.style116 {
  width: 100%
}
.desktop1row1container41row0column0row1container51column0row1column0 {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: column
}
.style109,
.style110 {
  font-family: Helvetica,serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0
}
.style110 {
  margin-top: 20px
}
.desktop1row1container41row0column0row1column0 {
  display: flex;
  width: 100%;
  flex-direction: column
}
.style103 {
  font-family: 'Acumin Pro',serif;
  font-size: 1em;
  line-height: 26px;
  margin-top: 61px;
  width: 100%
}
.desktop1row1container41row0column0row1column0row1 {
  display: flex;
  margin-top: 10px;
  width: 22.105%;
  height: 5.351%;
  align-items: stretch
}
.style107 {
  width: 100%
}
.desktop1row1container41row0column0row1column0row1column0 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between
}
.style105 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqtw2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 19.047%;
  align-items: stretch;
  flex-direction: column
}
.style105,
.style106 {
  height: 100%
}
.style104 {
  font-family: Helvetica,serif;
  font-size: .8125em;
  line-height: 26px;
  width: 69.047%;
  align-self: flex-end
}
.style111 {
  font-family: 'Acumin Pro',serif;
  font-size: 1em;
  line-height: 26px;
  margin-top: 100px;
  width: 100%
}
.desktop1row1container41row0column0row1column0row3 {
  display: flex;
  margin-top: 10px;
  width: 22.105%;
  height: 5.351%;
  align-items: stretch
}
.style115 {
  width: 100%
}
.desktop1row1container41row0column0row1column0row3column0 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between
}
.style113 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqu4k.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 19.047%;
  align-items: stretch;
  flex-direction: column
}
.style113,
.style114 {
  height: 100%
}
.style112 {
  font-family: Helvetica,serif;
  font-size: .8125em;
  line-height: 26px;
  width: 69.047%;
  align-self: flex-end
}
.desktop1row2 {
  display: flex;
  margin-left: 140px;
  margin-top: 40px;
  width: 80.555%;
  height: 17.083vh;
  align-items: stretch
}
.style92 {
  width: 100%
}
.desktop1row2column0 {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: column
}
.desktop1row2column0row0,
.style91 {
  margin-top: 0;
  height: 4.878%
}
.desktop1row2column0row0 {
  display: flex;
  align-items: center
}
.style85 {
  font-family: Helvetica,serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 20px;
  width: 88.362%
}
.desktop1row2column0row0column1 {
  display: flex;
  width: 4.482%;
  height: 50%;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-around
}
.style90 {
  height: 100%
}
.desktop1row2column0row0column1row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style88 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqss0.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 11.538%;
  align-items: stretch;
  flex-direction: column
}
.style89 {
  opacity: .30000001192092896;
  height: 100%
}
.style86 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqsdx.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 11.538%;
  align-items: stretch;
  flex-direction: column
}
.style87 {
  height: 100%
}
.desktop1row2column0row1 {
  display: flex;
  margin-top: 40px;
  height: 85.365%;
  align-items: stretch
}
.style84 {
  width: 100%
}
.desktop1row2column0row1column0,
.style56 {
  display: flex;
  width: 100%;
  flex-direction: column
}
.style56 {
  width: 31.034%;
  align-items: stretch
}
.style56,
.style63 {
  height: 100%
}
.desktop1row2column0row1column0row0 {
  display: flex;
  width: 100%;
  height: 100%
}
.style54,
.style55 {
  position: relative;
  display: flex;
  flex-direction: column
}
.style55 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqnet.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  width: 31.034%;
  align-items: stretch;
  height: 51.428%
}
.style54 {
  margin-top: 170px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 6px 6px
}
.style57,
.style58 {
  width: 77.777%;
  align-self: center
}
.style57 {
  font-weight: 700;
  font-family: Helvetica,serif;
  font-size: 1em;
  line-height: 20px;
  margin-top: 50px
}
.style58 {
  font-family: 'Acumin Pro',serif;
  font-size: .8125em;
  line-height: 23px;
  margin-top: 10px
}
.desktop1row2column0row1column0row0image8container20row2 {
  display: flex;
  margin-left: 40px;
  margin-top: 10px;
  width: 19.166%;
  height: 8.888%;
  align-items: stretch
}
.style62 {
  width: 100%
}
.desktop1row2column0row1column0row0image8container20row2column0 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between
}
.style60 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqott.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 23.188%;
  align-items: stretch;
  flex-direction: column
}
.style60,
.style61 {
  height: 100%
}
.style59 {
  font-family: Helvetica,serif;
  font-size: .8125em;
  height: 93.75%;
  align-self: flex-end
}
.desktop1row2column0row1column0row0column1 {
  width: 31.034%;
  height: 100%
}
.desktop1row2column0row1column0row0column1,
.style66 {
  display: flex;
  align-items: stretch;
  flex-direction: column
}
.style66,
.style73 {
  height: 100%
}
.style64,
.style65 {
  position: relative;
  display: flex;
  flex-direction: column
}
.style65 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqpa2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  align-items: stretch;
  height: 51.428%
}
.style64 {
  margin-top: 170px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 6px 6px
}
.style67,
.style68 {
  width: 77.777%;
  align-self: center
}
.style67 {
  font-weight: 700;
  font-family: Helvetica,serif;
  font-size: 1em;
  line-height: 20px;
  margin-top: 50px
}
.style68 {
  font-family: 'Acumin Pro',serif;
  font-size: .8125em;
  line-height: 23px;
  margin-top: 10px
}
.desktop1row2column0row1column0row0column1image10container25row2 {
  display: flex;
  margin-left: 40px;
  margin-top: 10px;
  width: 18.333%;
  height: 8.888%;
  align-items: stretch
}
.style72 {
  width: 100%
}
.desktop1row2column0row1column0row0column1image10container25row2column0 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between
}
.style70 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqqlh.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 24.242%;
  align-items: stretch;
  flex-direction: column
}
.style70,
.style71 {
  height: 100%
}
.style69 {
  font-family: Helvetica,serif;
  font-size: .8125em;
  height: 93.75%;
  align-self: flex-end
}
.desktop1row2column0row1column0row0column2 {
  width: 31.034%;
  height: 100%
}
.desktop1row2column0row1column0row0column2,
.style76 {
  display: flex;
  align-items: stretch;
  flex-direction: column
}
.style76,
.style83 {
  height: 100%
}
.style74,
.style75 {
  position: relative;
  display: flex;
  flex-direction: column
}
.style75 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqqwe.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  align-items: stretch;
  height: 51.428%
}
.style74 {
  margin-top: 170px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 6px 6px
}
.style77,
.style78 {
  width: 77.777%;
  align-self: center
}
.style77 {
  font-weight: 700;
  font-family: Helvetica,serif;
  font-size: 1em;
  line-height: 20px;
  margin-top: 50px
}
.style78 {
  font-family: 'Acumin Pro',serif;
  font-size: .8125em;
  line-height: 23px;
  margin-top: 10px
}
.desktop1row2column0row1column0row0column2image12container30row2 {
  display: flex;
  margin-left: 40px;
  margin-top: 10px;
  width: 18.333%;
  height: 8.888%;
  align-items: stretch
}
.style82 {
  width: 100%
}
.desktop1row2column0row1column0row0column2image12container30row2column0 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between
}
.style80 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqs2e.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 24.242%;
  align-items: stretch;
  flex-direction: column
}
.style80,
.style81 {
  height: 100%
}
.style79 {
  font-family: Helvetica,serif;
  font-size: .8125em;
  height: 93.75%;
  align-self: flex-end
}
.desktop1row3 {
  display: flex;
  margin-left: 140px;
  margin-top: 40px;
  width: 80.555%;
  height: 39.625vh
}
.style12 {
  font-family: Helvetica,serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 20px;
  width: 66.379%
}
.desktop1row3column0 {
  display: flex;
  width: 66.379%;
  height: 100.946%;
  flex-direction: column;
  justify-content: flex-end
}
.desktop1row3column0row0,
.style167 {
  width: 98.701%;
  height: 93.75%
}
.desktop1row3column0row0 {
  display: flex
}
.desktop1row3column0row0image29column0,
.style147 {
  display: flex;
  align-items: stretch;
  flex-direction: column
}
.style147 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqyej.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  width: 100%;
  height: 47.777%
}
.desktop1row3column0row0image29column0 {
  height: 100%
}
.style156 {
  height: 100%
}
.desktop1row3column0row0image29column0row0 {
  display: flex;
  height: 100%
}
.style155 {
  font-family: Helvetica,serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 20px;
  width: 90.789%
}
.desktop1row3column0row0image29column0row0column0 {
  display: flex;
  width: 90.789%;
  height: 81.395%;
  align-self: center;
  flex-direction: column;
  justify-content: flex-end
}
.style154 {
  width: 98.55%;
  height: 29.142%
}
.desktop1row3column0row0image29column0row0column0row0 {
  display: flex;
  width: 98.55%;
  height: 29.142%
}
.style149 {
  font-family: Helvetica,serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 34px;
  width: 100%
}
.desktop1row3column0row0image29column0row0column0row0column0 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column
}
.style148 {
  font-family: Helvetica,serif;
  font-size: 1em;
  line-height: 26px;
  margin-top: 34px;
  width: 100%
}
.desktop1row3column0row0image29column0row0column0row0column0row1 {
  display: flex;
  margin-top: 10px;
  width: 9.852%;
  height: 15.686%;
  align-items: stretch
}
.style153 {
  width: 100%
}
.desktop1row3column0row0image29column0row0column0row0column0row1column0 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between
}
.style151 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqz3e.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 23.88%;
  align-items: stretch;
  flex-direction: column
}
.style151,
.style152 {
  height: 100%
}
.style150 {
  font-family: Helvetica,serif;
  font-size: .8125em;
  height: 93.75%;
  align-self: flex-end
}
.style157 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqzav.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 100%;
  height: 47.777%;
  align-items: stretch;
  align-self: flex-end;
  flex-direction: column
}
.desktop1row3column0row0image31row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style166 {
  width: 100%
}
.desktop1row3column0row0image31row0column0 {
  display: flex;
  width: 100%;
  flex-direction: column
}
.style165 {
  font-family: Helvetica,serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 20px;
  margin-left: 40px;
  margin-top: 40px;
  width: 90.789%
}
.desktop1row3column0row0image31row0column0row1 {
  display: flex;
  margin-top: 232px;
  width: 89.473%;
  height: 23.72%;
  align-items: stretch;
  align-self: center
}
.style164 {
  width: 100%
}
.desktop1row3column0row0image31row0column0row1column0 {
  display: flex;
  width: 100%;
  flex-direction: column
}
.style158,
.style159 {
  font-family: Helvetica,serif;
  width: 100%
}
.style159 {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 34px;
  margin-top: 0
}
.style158 {
  font-size: 1em;
  line-height: 26px;
  margin-top: 10px
}
.desktop1row3column0row0image31row0column0row1column0row2 {
  display: flex;
  margin-top: 10px;
  width: 9.852%;
  height: 15.686%;
  align-items: stretch
}
.style163 {
  width: 100%
}
.desktop1row3column0row0image31row0column0row1column0row2column0 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between
}
.style161 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7hur03n.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 23.88%;
  align-items: stretch;
  flex-direction: column
}
.style161,
.style162 {
  height: 100%
}
.style160 {
  font-family: Helvetica,serif;
  font-size: .8125em;
  height: 93.75%;
  align-self: flex-end
}
.desktop1row3column1 {
  display: flex;
  width: 31.034%;
  height: 100%;
  align-items: stretch;
  flex-direction: column
}
.style146 {
  height: 100%
}
.desktop1row3column1row0 {
  display: flex;
  height: 100%;
  justify-content: flex-end
}
.style123 {
  width: 14.444%;
  height: 1.051%
}
.desktop1row3column1row0column0,
.style121 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column
}
.style121 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqujw.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  margin-left: 308px;
  margin-top: 0;
  width: 1.666%;
  height: 1.051%;
  align-items: stretch
}
.style122 {
  opacity: .30000001192092896;
  height: 100%
}
.style119 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huquct.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 0;
  width: 1.666%;
  height: 1.051%;
  align-items: stretch;
  align-self: flex-end;
  flex-direction: column
}
.style120 {
  height: 100%
}
.desktop1row3column1row0column0row1 {
  display: flex;
  margin-top: 45px;
  width: 100%;
  height: 94.216%;
  align-items: stretch;
  align-self: stretch
}
.style145 {
  width: 100%
}
.desktop1row3column1row0column0row1column0 {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: column
}
.style130 {
  margin-top: 0;
  height: 30.357%
}
.desktop1row3column1row0column0row1column0row0 {
  display: flex;
  margin-top: 0;
  height: 30.357%
}
.style125 {
  width: 100%;
  height: 77.205%
}
.desktop1row3column1row0column0row1column0row0column0 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column
}
.style124 {
  font-family: 'Acumin Pro',serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 26px;
  margin-top: 230px;
  width: 100%
}
.desktop1row3column1row0column0row1column0row0column0row1 {
  display: flex;
  margin-top: 10px;
  width: 41.944%;
  height: 5.882%;
  align-items: stretch
}
.style129 {
  width: 100%
}
.desktop1row3column1row0column0row1column0row0column0row1column0 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between
}
.style127 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqv2y.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 10.596%;
  align-items: stretch;
  flex-direction: column
}
.style127,
.style128 {
  height: 100%
}
.style126 {
  font-family: Helvetica,serif;
  font-size: .8125em;
  height: 93.75%;
  align-self: flex-end
}
.desktop1row3column1row0column0row1column0row1 {
  display: flex;
  margin-top: 40px;
  height: 30.357%;
  align-items: stretch
}
.style137 {
  width: 100%
}
.desktop1row3column1row0column0row1column0row1column0 {
  display: flex;
  width: 100%;
  flex-direction: column
}
.style132 {
  margin-top: 0;
  width: 100%;
  height: 77.205%
}
.style131 {
  font-family: 'Acumin Pro',serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 26px;
  margin-top: 20px;
  width: 100%
}
.desktop1row3column1row0column0row1column0row1column0row2 {
  display: flex;
  margin-top: 10px;
  width: 32.222%;
  height: 5.882%;
  align-items: stretch
}
.style136 {
  width: 100%
}
.desktop1row3column1row0column0row1column0row1column0row2column0 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between
}
.style134 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqx7i.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 13.793%;
  align-items: stretch;
  flex-direction: column
}
.style134,
.style135 {
  height: 100%
}
.style133 {
  font-family: Helvetica,serif;
  font-size: .8125em;
  height: 93.75%;
  align-self: flex-end
}
.desktop1row3column1row0column0row1column0row2 {
  display: flex;
  margin-top: 40px;
  height: 30.357%;
  align-items: stretch
}
.style144 {
  width: 100%
}
.desktop1row3column1row0column0row1column0row2column0 {
  display: flex;
  width: 100%;
  flex-direction: column
}
.style139 {
  margin-top: 0;
  width: 100%;
  height: 77.205%
}
.style138 {
  font-family: 'Acumin Pro',serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 26px;
  margin-top: 20px;
  width: 100%
}
.desktop1row3column1row0column0row1column0row2column0row2 {
  display: flex;
  margin-top: 10px;
  width: 35.833%;
  height: 5.882%;
  align-items: stretch
}
.style143 {
  width: 100%
}
.desktop1row3column1row0column0row1column0row2column0row2column0 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between
}
.style141 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqy6r.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 12.403%;
  align-items: stretch;
  flex-direction: column
}
.style141,
.style142 {
  height: 100%
}
.style140 {
  font-family: Helvetica,serif;
  font-size: .8125em;
  height: 93.75%;
  align-self: flex-end
}
.style13 {
  display: flex;
  margin-left: 0;
  margin-top: 109px;
  width: 100%;
  height: 8.333vh;
  align-items: stretch;
  flex-direction: column
}
.desktop1container5row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style45 {
  width: 100%
}
.desktop1container5row0column0 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center
}
.style27 {
  margin-left: 140px;
  width: 26.319%;
  height: 42%
}
.desktop1container5row0column0row0 {
  display: flex;
  width: 80.555%;
  height: 42%;
  align-self: center
}
.style26 {
  font-family: 'Acumin Pro',serif;
  font-size: .8125em;
  font-weight: 700;
  height: 15.476%
}
.desktop1container5row0column0row0column1 {
  display: flex;
  width: 5.344%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between
}
.style14,
.style17,
.style20,
.style23 {
  font-family: Helvetica,serif;
  font-size: .8125em;
  font-weight: 700;
  height: 17.857%
}
.desktop1container5row0column0row0column2 {
  display: flex;
  width: 5.086%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between
}
.style15,
.style18,
.style21,
.style24 {
  font-family: Helvetica,serif;
  font-size: .8125em;
  font-weight: 700;
  height: 17.857%
}
.desktop1container5row0column0row0column3 {
  display: flex;
  width: 6.81%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between
}
.style16,
.style19,
.style22,
.style25 {
  font-family: Helvetica,serif;
  font-size: .8125em;
  font-weight: 700;
  height: 17.857%
}
.desktop1container5row0column0row0column4 {
  display: flex;
  width: 22.413%;
  height: 78.571%;
  align-items: stretch;
  flex-direction: column
}
.style33 {
  height: 100%
}
.desktop1container5row0column0row0column4row0,
.style28 {
  display: flex;
  height: 100%
}
.style28 {
  opacity: .10000000149011612;
  width: 100%;
  height: 60.606%;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px
}
.style31 {
  font-family: Helvetica,serif;
  font-size: .8125em;
  line-height: 20px;
  margin-left: 20px;
  width: 13.461%
}
.style29 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqlj9.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 224px;
  width: 6.153%;
  height: 40%;
  align-items: stretch;
  flex-direction: column
}
.style30 {
  height: 100%
}
.style32 {
  font-family: Helvetica,serif;
  font-size: .6875em;
  line-height: 20px;
  width: 100%;
  align-self: flex-end
}
.desktop1container5row0column0row0column5 {
  display: flex;
  width: 13.793%;
  height: 19.048%;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between
}
.style44 {
  height: 100%
}
.desktop1container5row0column0row0column5row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style40 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqm79.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 10%;
  align-items: stretch;
  flex-direction: column
}
.style41 {
  height: 100%
}
.style37 {
  display: flex;
  width: 10%;
  align-items: stretch;
  flex-direction: column
}
.desktop1container5row0column0row0column5row0container12row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style38,
.style39 {
  width: 100%
}
.style34 {
  display: flex;
  width: 10%;
  align-items: stretch;
  flex-direction: column
}
.desktop1container5row0column0row0column5row0container10row0 {
  display: flex;
  height: 100.006%;
  align-items: stretch
}
.style36 {
  width: 100%
}
.style35 {
  width: 52.222%
}
.style42 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk8vd8k7huqmfg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  width: 10%;
  align-items: stretch;
  flex-direction: column
}
.style43 {
  height: 100%
}